[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
openpyxl = "*"
flask-apscheduler = "*"
requests = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
